@page "/getintouch"

<div class="text-center my-3">
    <h2 class="fs-3 fw-semibold border-bottom pb-2">Contact</h2>

    <div class="mt-4">
        <i class="fa fa-phone"></i>
        <p class="mb-4">
            555 555 55 55
        </p>

        <i class="fa-solid fa-address-book "></i>
        <p class="mb-4">
            Türkiye
        </p>

        <i class="fa-solid fa-envelope "></i>
        <p class="mb-0">
            furkan@aydın.com
        </p>
    </div>
</div>